#editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px; }
  #editor .hero-item {
    display: inline-block;
    width: 250px;
    margin: 3px;
    padding: 3px;
    user-select: none;
    cursor: pointer; }
    #editor .hero-item span, #editor .hero-item img {
      vertical-align: middle;
      pointer-events: none;
      font-size: 18px; }
    #editor .hero-item:hover {
      background: #252526; }
    #editor .hero-item.selected {
      background: #374b37; }
