
#editor {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    #editor-main {
        display: flex;
        flex-direction: row;
    }
}

#hero-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px solid #252525;

    .hero-item {
        display: block;
        margin: 3px;
        padding: 3px;
        user-select: none;
        cursor: pointer;

        span, img {
            vertical-align: middle;
            pointer-events: none;
            font-size: 16px;
        }

        &:hover {
            background: #252526;
        }

        &.selected {
            background: #374b37;
        }
    }
}

#hero-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 1px solid #252525;
    margin-left: 10px;

    .info-group {
        display: table;
        margin: 10px;

        .group-name {
            margin-bottom: 5px;
            color: #60c4fa;
        }
    
        .kv-item {
            display: table-row;
            margin-bottom: 8px;
            line-height: 30px;
        }

        .kv-input {
            background: #252525;
            margin-left: 10px;
            border: 1px solid #000000;
            color: #eeeeee;
            padding: 5px 4px;
            width: 200px;
            
            &:focus {
                outline-style: dashed;
                outline-color: #374b37;
                outline-width: 1px;
            }

            &.error:focus {
                outline-color: #8f1c1c;
            }
        }

        &[group="Character"] {
            .kv-input {
                width: 600px;
            }
        }
    }
}